@model IEnumerable<FixMeetWebApi.Models.BookingModels>
@using Microsoft.AspNet.Identity
@using System.Data.Entity;
@using System.Web.Mvc;
@using FixMeetWebApi.Models;

@{
    var db = new ApplicationDbContext();
    var user_id = User.Identity.GetUserId();
    var user_role = db.Users.Where(u => u.Id == user_id).FirstOrDefault().UserRole;
    //var request = db.RequestModels.Where(req => req.UserID == user_id).
}

@{
    if (user_role == UserRole.Customer)
    {
        ViewBag.Title = "My Booking";
        <h2>My Booking</h2>
    }
    else
    {
        ViewBag.Title = "List Of Booking";
        <h2>List Of Booking</h2>
    }
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.CustFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustLastName)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SuppFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuppLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferID)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CustFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustLastName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SuppFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestID)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.BookingID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.BookingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookingID })
            </td>
        </tr>
    }

</table>
