@model IEnumerable<FixMeetWebApi.Models.OfferModels>
@using Microsoft.AspNet.Identity
@using System.Data.Entity;
@using System.Web.Mvc;
@using FixMeetWebApi.Models;

@{
    ViewBag.Title = "ClosedOffers";
}

<h2>Closed Offers</h2>
@{
    var db = new ApplicationDbContext();
    var user_id = User.Identity.GetUserId();
    var user_role = db.Users.Where(u => u.Id == user_id).FirstOrDefault().UserRole;
    var sup_users = db.Users.Where(u => u.UserRole == UserRole.Supplier).ToList();
    //var request = db.RequestModels.Where(req => req.UserID == user_id).FirstOrDefault();

    //var req = db.Offer

}
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.OfferID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.OfferDate)
        </th>
        @if (user_role == UserRole.Customer)
        {
            <th>
                @Html.DisplayNameFor(model => model.SupplierFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierLastName)
            </th>
        }

        @if (user_role == UserRole.Supplier)
        {
            <th>
                @Html.DisplayNameFor(model => model.CustomerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerLastName)
            </th>
        }

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            Supplier Rating
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.RequestID)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.OfferID)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OfferDate)
            </td>
            @if (user_role == UserRole.Customer)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierLastName)
                </td>
            }
            @if (user_role == UserRole.Supplier)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerLastName)
                </td>
            }


            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @sup_users.Where(s => s.Id == item.UserID).FirstOrDefault().Rating







            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.RequestID)
                </td>*@
            <td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.OfferID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.OfferID })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.OfferID })*@
            </td>
        </tr>
    }

</table>
