@model FixMeetWebApi.Models.OfferModels
@using Microsoft.AspNet.Identity
@using System.Data.Entity;
@using System.Web.Mvc;
@using FixMeetWebApi.Models;
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@{
    var db = new ApplicationDbContext();
    var user_id = User.Identity.GetUserId();
    var user_role = db.Users.Where(u => u.Id == user_id).FirstOrDefault().UserRole;
}
<div>
    <h4>OfferModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfferDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestID)
        </dd>

    </dl>
</div>
<p>

    @if (user_role == UserRole.Customer)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.RequestID })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
