@model IEnumerable<FixMeetWebApi.Models.OfferModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OfferDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OfferDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestID)
        </td>
        <td>
            @Html.ActionLink("Booking", "Create", "BookingModels", routeValues: null, htmlAttributes: new { id = item.OfferID }) |
            @*@Html.ActionLink("Edit", "Edit", new { id = item.OfferID }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.OfferID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OfferID })
        </td>
    </tr>
}

</table>
