@model IEnumerable<FixMeetWebApi.Models.OfferModels>
@using Microsoft.AspNet.Identity
@using System.Data.Entity;
@using System.Web.Mvc;
@using FixMeetWebApi.Models;

@{
    var db = new ApplicationDbContext();
    var user_id = User.Identity.GetUserId();
    var user_role = db.Users.Where(u => u.Id == user_id).FirstOrDefault().UserRole;
    var sup_users = db.Users.Where(u => u.UserRole == UserRole.Supplier).ToList();
}
@{
    if (user_role == UserRole.Customer)
    {
        ViewBag.Title = "My Offers";
        <h2>My Offers</h2>
    }
    else
    {
        ViewBag.Title = "List Of Offers";
        <h2>List Of Offers</h2>
    }
}

@if (user_role == UserRole.Supplier)
{
    @Html.ActionLink("Closed Offers", "ClosedOffers")

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OfferDate)
        </th>
        @if (user_role == UserRole.Customer)
        {
            <th>
                @Html.DisplayNameFor(model => model.SupplierFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierLastName)
            </th>
        }

        @if (user_role == UserRole.Supplier)
        {
            <th>
                @Html.DisplayNameFor(model => model.CustomerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerLastName)
            </th>
        }
        @if(user_role == UserRole.Customer)
        {
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        }

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            Supplier Rating
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OfferDate)
    </td>
    @if (user_role == UserRole.Customer)
    {
        <td>
            @Html.DisplayFor(modelItem => item.SupplierFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierLastName)
        </td>
    }
    @if (user_role == UserRole.Supplier)
    {
        <td>
            @Html.DisplayFor(modelItem => item.CustomerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerLastName)
        </td>
    }

    @if (user_role == UserRole.Customer)
    {
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cost)
    </td>
    <td>
        @sup_users.Where(s => s.Id == item.UserID).FirstOrDefault().Rating
    </td>
    <td>
        @if (user_role == UserRole.Customer)
        {
            @Html.ActionLink("Booking", "Create", "BookingModels", new { item.OfferID }, null)
            <span>|</span>
        }
        @Html.ActionLink("Details", "Details", new { id = item.OfferID }) |

        @if (user_role == UserRole.Supplier)

        {
            @Html.ActionLink("Delete", "Delete", new { id = item.OfferID })
            <span>|</span>
        }


        @{
            var chat = db.NegotiationChatModels.Where(ch => ch.OfferID == item.OfferID).FirstOrDefault();
        }
        @if (chat == null)
        {
            @Html.ActionLink("Send Message", "Create", "NegotiationChatModels", new { item.OfferID }, null)
        }
        @if (chat != null)
        {
            @Html.ActionLink("Chat", "Negotiation", "NegotiationChatModels", new { item.OfferID }, null)
        }


    </td>
</tr>
    }

</table>

<p>
    @Html.ActionLink("Back to My Requests", "Index", "RequestModels")
</p>