@model IEnumerable<FixMeetWebApi.Models.NegotiationChatModels>
@using Microsoft.AspNet.Identity
@using System.Data.Entity;
@using System.Web.Mvc;
@using FixMeetWebApi.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    var db = new ApplicationDbContext();
    //var user = User.Identity.GetUserId();
    var users = db.Users.ToList();


}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        @*<th>
            User Full Name
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ChatText)
        </th>


        @*<th>
            @Html.DisplayNameFor(model => model.OfferID)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.CustId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuppId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ChatDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    
    <td>
        @Html.DisplayFor(modelItem => item.ChatText)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.OfferID)
        </td>*@
    @*<td>
            @Html.DisplayFor(modelItem => item.CustId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuppId)
        </td>*@
    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChatId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChatId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChatId })
        </td>*@
<td>
    @Html.DisplayFor(modelItem => item.ChatDate)
    @Html.ActionLink("Send Message", "Create", "NegotiationChatModels", new { @Model.FirstOrDefault().OfferID }, null)
</td>
</tr>
    }

</table>
