@model IEnumerable<FixMeetWebApi.Models.NegotiationChatModels>
@using Microsoft.AspNet.Identity
@using System.Data.Entity;
@using System.Web.Mvc;
@using FixMeetWebApi.Models;
@{
    ViewBag.Title = "Negotiation";
}

<h2>Negotiation</h2>
@{
    var db = new ApplicationDbContext();
    var users = db.Users.ToList();

}
<p>
    @Html.ActionLink("Send Message", "Create", new { @Model.FirstOrDefault().OfferID }, null)
</p>

<table class="table">
    <tr>
        <th>
            Message Owner
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ChatText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChatDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {

        if (@users.Where(u => u.Id == item.MessageOwnerId).FirstOrDefault().UserRole == UserRole.Customer)
        {
            <tr style="background-color: dodgerblue">
                <td>
                    @users.Where(us => us.Id == item.MessageOwnerId).FirstOrDefault().FirstName   @users.Where(us => us.Id == item.MessageOwnerId).FirstOrDefault().LastName
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ChatText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChatDate)
                </td>
            </tr>
        }
        else
        {
            <tr style="background-color: burlywood">
                <td>
                    @users.Where(us => us.Id == item.MessageOwnerId).FirstOrDefault().FirstName   @users.Where(us => us.Id == item.MessageOwnerId).FirstOrDefault().LastName
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ChatText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChatDate)
                </td>
            </tr>
        }



    }
</table>
@Html.ActionLink("Back to Requests", "Index", "RequestModels")

